.navbar {
  background-color: #691c32;
  padding: 0px;
}
.navbar-brand {
  color: #ffffff;
  font-size: 1.5rem;
}
.navbarContainer {
  background-color: brown;
}
.offcanvas {
  background-color: #343a40;
  color: #ffffff;
}
.navDropdown {
  background-color: #10312b;
  margin-left: auto;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-right: 20px;
}
.superiorHead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.text_dropdown {
  color: #ffffff;
  font: proto-sans, sans-serif;
}
.logo {
  margin-left: 0;
  margin-right: 12px;
  display: block;
}
.button {
  border: none;
  background: "transparent";
  box-shadow: none;
  padding: 6px 10px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
